
<div class="row mx-1">
  <div class ="col-sm-1 col-lg-2">
  </div>
  <div class ="col-sm-10 col-lg-8">
    <h2 class="my-4">Task list: {{{list.title}}}</h2>
    <div class="row">
      <div class ="col-sm-10 col-lg-8">
        <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">New Task</label>
            <textarea class="form-control" id="newTaskTitle" rows="1" required></textarea>
          </div>

        <button type="submit" class="btn btn-outline-primary my-3" id="newTaskButton">Add task</button>

        <div class="row" >
          <div class="col-6" id="successSpace">
            </div>
        </div>
      </form>
      </div>

    </div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Done</th>
    </tr>
  </thead>
  <tbody>
    {{#each list.tasks as |task|}}
    <tr id="{{{task._id}}}">
      <td>{{{task.description}}}</td>
      <td>
        <div class="row">
          <div class="col-6">
        {{#if task.done}}
        <span class="badge badge-success">YAY</span>
        {{else}}
        <button type="button" class="btn btn-outline-primary btn-sm taskDoneButton mx-1" task_id_data="{{{task._id}}}">DONE</button>

        {{/if}}
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-danger btn-sm deleteTaskButton" task_id_data="{{{task._id}}}">X</button>
          </div>
      </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

  </div>

</div>
<div class="row mx-1 mb-3">
 <div class="col-1">
   </div>
<button type="button" class="btn btn-danger btn-sm deleteListButton mx-3" list_id_data="{{{list._id}}}">Delete List</button>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/tasksScript.js"></script>
<script src="/javascripts/addTaskScript.js"></script>
